<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Ok products</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!--   
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
-->
<link rel="stylesheet" href="css/simple-grid.css">
<link rel="stylesheet" href="styles.css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

  <style>
    [v-cloak] > * { display:none }
    [v-cloak]::before { content: "loading…" }
    .item-block {
      padding: 12px;
    }
  </style>
    
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="header">
        <h2>Рецепти</h2>
      </div>
    </div>

    <div id="app" v-cloak class="row">
      <article class="col-6 col-12-sm item-block" v-for="(item, i) in data" :key="i">
        <div class="row">
          <div>
            <span style="font-size: 1.375rem" class="font-heavy">
              {{item.name}}
            </span>
            <a :href="item.link" 
              style="position: absolute; right: 0"
              target="_blank"
            >
              <img v-if="item.linkType == 'video'" height="24" width="80" 
                style="margin-top:5px; margin-left:2px" 
                src="images/youtube.png">
              <!-- <span v-if="item.linkType == 'text'">Текст</span> -->
            </a>
          </div>
          <div>
            <ul>
              <li v-for="ing in item.ingredients">
                {{ing.name}} - {{ing.count}}
              </li>
            </ul>
          </div>
          <div>
            <div v-for="note in item.notes" class="comments">"{{note}}"</div>
          </div>
          <div v-if="item.dontDo && item.dontDo.length">
            <p>Нинада</p>
            <div v-for="note in item.dontDo" class="comments">"{{note}}"</div>
          </div>
        </div>
      </article>
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    const app = {
      data() {
        return {
          data: []
        }
      },
      mounted() {
        axios.get('receipts.json').then(d => this.data = d.data);
      }
    }

    Vue.createApp(app).mount('#app')
  </script>
</body>
</html>
